@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

body {
  height: 1000px;
}

nav.navbar {
  transition: 0.5s;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: white;
  transition: 0.5s;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
  color: #FA5C07;
}

header.jumbotron {
  text-align: center;
  background-image: url("https://c.pxhere.com/photos/7f/7c/break_dance_dance_motion_hip_hop_posing_action_breakdancing_cool-1215662.jpg!d");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0px;
}
header.jumbotron .container {
  color: #FFBE0B;
  padding: 350px 0px 350px 0px;
}
header.jumbotron hr {
  max-width: 60px;
  border: solid 2px #FA5C07;
}
header.jumbotron h4 {
  color: rgba(255, 190, 11, 0.9);
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: rgba(250, 92, 7, 0.9);
}
section#section_ask .col-sm-5.img {
  background-image: url("https://cdn.dribbble.com/users/462415/screenshots/1713388/hip_hop.png");
  background-position: center center;
  background-size: cover;
  height: 350px;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 20px;
}

section#section_about img {
  width: 100%;
}
section#section_about .img_wrap {
  height: 164px;
  overflow: hidden;
}

section#section_story {
  background-color: #222;
  color: white;
  padding: 0px;
}
section#section_story .col-sm-5 {
  background-image: url("https://i.ytimg.com/vi/xHgZZ6xM7ss/maxresdefault.jpg");
  background-size: 100% 100%;
  height: 520px;
}
section#section_story .col-sm-5 .cross {
  position: absolute;
  left: 23%;
  top: 38%;
  color: red;
  font-size: 30px;
  font-weight: bold;
}
section#section_story .col-sm-7 {
  text-align: center;
}
section#section_story .col-sm-7 i {
  font-size: 40px;
}
section#section_story .col-sm-12.features {
  margin-top: 30px;
  margin-bottom: 30px;
}

section#section_future img {
  width: 100%;
}
section#section_future i {
  font-size: 40px;
}
section#section_future .feature {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer.jumbotron {
  text-align: center;
  background-image: url("https://c.pxhere.com/photos/7f/7c/break_dance_dance_motion_hip_hop_posing_action_breakdancing_cool-1215662.jpg!d");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0px;
}
footer.jumbotron input {
  background-color: transparent;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
footer.jumbotron .container {
  color: #FFBE0B;
  padding: 60px 0px 60px 0px;
}
footer.jumbotron hr {
  max-width: 60px;
  border: solid 2px #FA5C07;
}
